html {
  width: 100% !important;
  height: 100% !important;
  min-height: 100%;
}

body {
  font-family: "Alegreya Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 24px;
  /*background-color: #087F94;*/
  /*background-color: rgba(8, 127, 184, 0.6);;*/
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  overflow: hidden;
}

nav {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

div#impact_parent_div, div#supp_text, div#app_text, div#impact_panel, div#comp_panel {
  pointer-events: all;
  cursor:zoom-in;
}

div#impact_text {
  pointer-events: none;
}

div#impact_dialog {
  font-size:40px;
  line-height:46px;
  text-align:center;
  padding:16px;
}

div#impact_dialog b {
  color:#e31a1c;
}

h1, brand {
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 52px;
}

h2 {
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 44px;
}

h3 {
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 34px;
}

h4 {
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 27.5px;
}


div.vis > label {
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space:nowrap;
}

div.form-group.vis { font-size:10pt; line-height:12pt;}
div.form-group.panel { font-size:10pt; line-height:12pt; color:black;}


#vis {
  width:100% !important;
  height:100% !important;
  border: 0px solid black;
  padding: 0;
  margin: 0;
}

#vis2 {
  width:100% !important;
  height:100% !important;
  pointer-events: all;
  border: 0px solid black;
  padding: 0;
  margin: 0;
  background: url(loader.svg) no-repeat;
  background-size:100%;
}

#vis4 {
  pointer-events: all;
  width:100% !important;
  height:100% !important;
  border: 0px solid black;
  padding: 0;
  margin: 0;
}


.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.1;
}

.link:hover {
  stroke-opacity: 0.5;
}


.nodec circle {
  /*fill: #fff;
  stroke: steelblue;*/
  stroke-width: 0.5px;
  shape-rendering: crispEdges;
}

.nodec {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.linkc {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

text {
  font-size: 14px;
  pointer-events: none;
}

text.parent {
  fill: white;
}

text.child {
  fill: white;
  font-size:12px;
}

circle.parent {
  pointer-events: all;
  fill: #cab2d6;
  fill-opacity: 0.5;
  stroke: #6a3d9a;
}

circle.parent2 {
  pointer-events: all;
  fill: #cab2d6;
  fill-opacity: 0.1;
  stroke: #6a3d9a;
}

#leftnavmenu, #rightnavmenu {
  background-color:white;
  background:white;
}

circle.child2 {
  pointer-events: none;
  stroke: #6a3d9a;
  fill: #cab2d6;
}

#calcmeleft{
  position:absolute;
  left:30px;
  bottom:100px;
  z-index:2;
}

#calcmeright {
  position:absolute;
  right:30px;
  bottom:100px;
  z-index:2;
}


circle.parent:hover {
  fill: #cab2d6;
  pointer-events: all;
  stroke: #ff7f0e;
  stroke-width: 0.5px;
}

circle.child {
  pointer-events: none;
  stroke: #6a3d9a;
  fill: #cab2d6;
}

div#kl, div#kv {
  width:90px;
  min-width:90px;
}

div#traceable {
  position: absolute;
  text-align:center;
  bottom: 20%;
  left: 49.5%;
  height: 200;
  z-index:10000;
  display:none;
}


div#nexusdiv {
  position: absolute;
  text-align:center;
  top: 50%;
  left: 50%;
  width: 43;
  height: 142;
  margin-top: -71px;
  margin-left: -21.5px;
}

span#eye, span#fire {
  font-size:25px;
}

div#eyediv, div#firediv {
  position:absolute;
  top:160px;
  z-index:2;
}

div#eyediv { left:30px; }
div#firediv { left:70px; }
